# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.project SkullCrusher.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\maksi\Desktop\Projects\Unity\project SkullCrusher\.idea\.idea.project SkullCrusher\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
