# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.project-SkullCrusher.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\maksi\Desktop\Projects\Unity\project-SkullCrusher\.idea\.idea.project-SkullCrusher\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
